body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    text-align: center;
    color: white;
}
.game {
    align-self: center;
    margin: auto;
    width: fit-content;
}
.guessTable {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    width: fit-content;
    margin: 2px;
}
.row {
    display: flex;
} 
.col {
    /* flex: 1;        distributes space on the line equally among items */
    border: 2px solid #3a3a3c;
    margin: 3px;
    min-width: 58px;
    height: 58px;
    color: white;
    font-size: 40px;
    text-align: center;
}
.keyboard {
    align-self: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 190px;
    justify-content: space-between;
    margin-top: 10px;
    bottom: 0px;
}
.keyboard-row {
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: center;
}
.key{
    background-color: #818384;
    min-width: 35px;
    margin: 2px;
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
    border: 0px;
}
.key:active {
    background-color: #404041;
}
.key:focus {
    outline: none;
    box-shadow: none;
  }
.grow {
    flex-grow: 1;
}

.green, .green.yellow, .green.gray, .green.yellow.gray {
    background-color: #538d4e;
    border-color: #538d4e;
}
.yellow, .yellow.gray {
    background-color: #b59f3b;
    border-color: #b59f3b;
}
.gray {
    background-color: #3a3a3c;
    border-color: #3a3a3c;
}

@media screen and (max-width: 481px) {
    .col {
        width: 70px;
        height: 70px;
    }
}